.main-screen {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.main-screen-bg {
    background-image: url('./pict/main-bg.jpg');
}

.play-now-button {
    /* width: 250%; */
    padding: 1vh 5vw;
}

.game-choice-bg {
    background-image: url('./pict/the-games-bg.jpg');
    
}

.features-bg {
    background-image: url('./pict/features.jpg');
 
}

.requirement-bg {
    background-image: url('./pict/requirements.png');

} 

.score-bg {
    background-image: url('./pict/top-score-bg.png');
    background-color: darkslategray;
}

.navbar-custom-color{
    background-color: rgba(36, 31, 31, 0.39);
}

nav{
    color: antiquewhite;
}

.text-white{
    color: antiquewhite;
}

.main-content{
    text-align: center;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    
}

.fxdirection-row{
    flex-direction: row;
}

.bg-a{
    /* background-color: burlywood; */
    width: 30%;
    height: 50vh;
    text-align: justify;
    padding-left: 1vw;
}

    .bg-a h1{
        letter-spacing: 0.5rem;
    }

.bg-b{
    background-color: cornflowerblue;
    width: 70%;
}

.bg-features-a{
    /* background-color: azure; */
    min-width: 50vw;
    height: 50vh;
}

.bg-features-b{
    background-color: rgba(153, 205, 50, 0.24);
    min-width: 50vw;
    height: 50vh;
    text-align: justify;
}

.image-choice{
    max-width: 100%;
}